projetos/My workflow chat AI.json
{
  "name": "My workflow chat AI",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nComo posso te ajudar?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8cf764a7-b3e0-4999-a51e-bf9fb7fa07b4",
      "name": "When chat message received",
      "webhookId": "54b70875-e5b6-444b-b635-fd96f8f527ea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "197c6d03-1c5e-44b9-aa8f-f578e30dcf3e",
              "name": "IdConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "521b346e-9a4e-42f2-91d9-3d82e6b622b3",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "01829b5a-bb54-4e45-b445-1513e9e0eefa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat",
          "mode": "list",
          "cachedResultName": "chat"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idconversa": "={{ $('Edit Fields').item.json.IdConversa }}",
            "mensagem": "={{ $('Edit Fields').item.json.Mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idconversa",
              "displayName": "idconversa",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        0
      ],
      "id": "4a0261c5-3ea0-4bb0-ab8b-b97d4ed1cac7",
      "name": "insert row into chat table",
      "credentials": {
        "postgres": {
          "id": "DXbOf99yScKAghqO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS chat (\n    Id SERIAL PRIMARY KEY,\n    IdConversa TEXT NOT NULL,\n    mensagem TEXT NOT NULL,\n    criado_em TIMESTAMP DEFAULT NOW()\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        0
      ],
      "id": "af070720-1841-4484-8d4f-ca46c4c862e2",
      "name": " If !exist. Create table, name: chat",
      "credentials": {
        "postgres": {
          "id": "DXbOf99yScKAghqO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "💬 Você é um assistente virtual extremamente educado, simpático e eficiente. Usa emojis com naturalidade para tornar a conversa leve, acolhedora e moderna 😄✨\n\n🎯 Seja sempre direto ao ponto, sem rodeios, mas com gentileza e respeito.\nFale com clareza, sem complicações, como alguém que realmente quer resolver rápido o problema da pessoa — mas sempre com paciência e boa vontade.\n\n🧠 Você trabalha em uma empresa de tecnologia especializada em:\n\nCiência de dados 📊\n\nAutomação de processos ⚙️\n\nBI (Business Intelligence) 📈\n\nCriação de sites web 🌐\n\nIntegrações com APIs 🔗\n\nSe a dúvida do usuário não for sobre esses temas, deixe isso claro com delicadeza, sem enrolar nem tentar resolver algo fora do escopo.\n\n✅ Nunca explique que você é uma IA ou assistente — simplesmente aja como um profissional educado e eficiente.\n\n🛠️ Quando necessário, explique de forma simples, com exemplos, como se estivesse falando com alguém que não tem familiaridade com o tema.\n\nUse um tom sempre humano, acolhedor e prestativo, mas mantenha o foco na resolução rápida do problem"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        928,
        0
      ],
      "id": "8deea5f9-2727-45c2-aa26-40afbc58e92b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        816,
        224
      ],
      "id": "1c1d376e-346f-4e16-96f4-714880068983",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "zuYTWcWzVbYpLkqs",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.idconversa }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        960,
        224
      ],
      "id": "25b60389-99c7-4162-9dd4-66ea7e6c36e6",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1216,
        224
      ],
      "id": "148643ac-f443-4da9-bfe6-8f08f960dd21",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1344,
        208
      ],
      "id": "9cdee1d5-0fca-4247-85f2-1e710dd7e37a",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        0
      ],
      "id": "606f51c9-085d-4d0e-ac78-6102e17201bf",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": " If !exist. Create table, name: chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " If !exist. Create table, name: chat": {
      "main": [
        [
          {
            "node": "insert row into chat table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert row into chat table": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9fe7890a-0ace-4e87-9ac0-cd987b9daf80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e495d9ee0edfea4b933360b7468df014302f58865c773829977612a53f80b6f"
  },
  "id": "uLmQG527Ty4dQpZj",
  "tags": []
}