projetos/workflow project pyspark.json
{
  "name": "workflow project pyspark",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 17 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "34721736-a779-4442-b5a4-2625912402b6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5358694b-92b2-496b-bc67-fbc9df70ec65",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "53f00c9a-23dd-4368-8315-8239dd916c49",
      "name": "If"
    },
    {
      "parameters": {
        "command": "python3 /mnt/d/TestN8N/success.py\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "48af19ba-f6e2-4734-ad9b-fb66bcb0a13d",
      "name": "Execute pyspark.py"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "devsgpt4tel@gmail.com",
        "fromName": "Devs",
        "toEmail": "joaopedrorochajdias@gmail.com",
        "subject": "Status",
        "contentValue": "Sucesso!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        688,
        -144
      ],
      "id": "b98a893b-f87d-46f2-afdd-4138c9b528e6",
      "name": "Send an email success",
      "credentials": {
        "sendGridApi": {
          "id": "C70Jc8GtA2IGz4R4",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "devsgpt4tel@gmail.com",
        "fromName": "Devs",
        "toEmail": "joaopedrorochajdias@gmail.com",
        "subject": "Status",
        "contentValue": "Sucesso!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        688,
        112
      ],
      "id": "a228a6c2-b232-41ea-bd74-a8bcf2266473",
      "name": "Send an email falied",
      "credentials": {
        "sendGridApi": {
          "id": "C70Jc8GtA2IGz4R4",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        -32
      ],
      "id": "b0097b19-b33e-4360-8954-43d2aa23e82e",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute pyspark.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an email success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an email falied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute pyspark.py": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email success": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email falied": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c4d4f6f-f3e3-4b6c-889c-284828cda779",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39c52639efd73855c637343c75a28c34312c35e2f4b3528606e2789856d3f222"
  },
  "id": "K4PJubWlleGdQzbu",
  "tags": []
}